/* get rid of stop margin */
* {
   margin: 0px;
   padding: 0px;
}
html {
  scroll-behavior: smooth;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

.title{
  margin-top:0;
  background-color: #D7F1FE;
  padding-bottom: 5%;
}
/* //navbar stuff */
.logo-nav{
  width:75px;
  margin-top: 30px;
  margin-right: 50%;
  margin-left: 6%;
}

.nav-link{
  margin: 0 20px;
  font-size: 1.2rem;
}

/* IDEA: box on the top */
.title-box{
  width: 65%;
  height: 80%;
  padding: 0 5%;
  margin: 50px auto;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 6px 7px 6px #D9C4F2;
  position:relative;
}
.title-box:hover{
  box-shadow: 6px 7px 15px #D9C4F2;
}


.title-words{
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.jacob{
  font-family: 'Lilita One', cursive;
  font-size: 3.4rem;
}
.title-logo{
  width: 130px;
  margin: 50px auto;
}
.btn-title{
  margin: 30px auto 60px;
  background-color: #557BFF;
  padding: 5px  60px;
}
.btn{
  border-radius: 20px;

}
/* IDEA: colors for  title page*/
.jac{
  color:#7325CD;
}
.ob{
  color:  #AE2574;
}
.ai{
  color: #B3256D;
}
.zer{
  color:#D92534;
}
/* IDEA: end of title section */
/* IDEA: start of projects section */
#projects{
  text-align: center;
  margin: 0 15%;
}
.project-title{
  margin: 40px auto;
  font-family: 'Lilita One', cursive;
  font-size: 3.4rem;
}
.card-title{
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Lilita One', cursive;
}
.card{
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 6px 7px 6px #D7F1FE;
}
.card:hover{
  box-shadow: 6px 7px 15px #D7F1FE;
}
.card-img-top{
  padding: 15px;
  border-radius: 20px;
  height:225px;
}
.btn-carousel{
  margin: 2% 3%;
}
.carousel-caption{
  margin-bottom: 161px;
  color: black;
  font-family: 'Lilita One', cursive;
  font-size: 1.4rem;
}
.hidden{
  display: none;
}
.blurry{
  opacity: .3;
}
@media (max-width: 1192px) {
    #projects{
      margin: auto 28%;
    }
}



/* IDEA: end projects section */


/* IDEA: start of about section */
.about-box{
  background-color: white;
  margin: 5% auto;
  border-radius: 15px;
  color: #515151;
}
.big-about-box{
  border: solid;
  border-width: 1px;
  border-color: #707070;
  box-shadow: 6px 7px 6px #C8D5FF;
}
.skill-list{
  line-height: 1;
}
.list-header{
  margin-bottom: 25px;
}
.box-header{
  margin: 3% auto;
  font-size: 3rem;
  font-family: 'Lilita One', cursive;

}
.left-list{
  margin-top:25px;
}
.edu-list {
  position: relative;
  left: 10px;
}

@media (max-width: 992px) {
  .big-about-box{
    margin: 2% 10%;
  }
  .skill-list{
    text-align: left;
    margin: 0 30%;
  }
}
#about{
  text-align: center;
  background-color: #C6F5F7;
  padding: 3% 2% 10%;
}
/* IDEA: end skills */

/* IDEA: start contact */
.contact-form{
  margin-top: 80px;
  text-align: left;
}

.form-input{
  margin: 1% 0;
  font-family: 'Lilita One', cursive;
  padding: 2% 0;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: gray;
}
.form-msg{
  padding-right: 40%;
  padding-bottom: 45%;
}
.contact-btn{
  margin: 3% 1%;
  padding: 1% 25%;
}
/* IDEA: end contact and skills section */
/* IDEA: start footer */
#footer{
  margin-left: 3.5%;
}
.footer-logo{
  position: inline;
  width: 3%;
  margin: 3% 1%;
}
.footer-text{
  margin-left: 27%;
}
